*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#creatorMenu{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-around;
    display: none;
    color: white;
}

#creatorMenu > div{
    width: 20vw;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
