*{
    padding: 0;
    margin: 0;
}

#creatorMenu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#creatorMenu > div{
    width: 20vw;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
}