#playerui{
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    color: white;
    align-items: flex-end;
}

#charactervaluesdiv{
    width: fit-content;
    height: fit-content;
}

#healthmax{
    background-color: #fe485780;
}

#reiatsuhmax{
    background-color: #00265f80;
}

#playerui > div > div{
    display: flex;
}
#playerui > div > div > div{
    display: flex;
    flex-direction: column;
}
#playerui > div > div > div > div{
    display: flex;
    flex-direction: column;
}