#health_container {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: fit-content;
	width: fit-content;
	background-color: #0000003d;
}

#health_container img {
	height: 6rem;
	border: 1px solid black;
	border-radius: 3rem;
}

#health_current {
	font-size: 30px;
	font-weight: bold;
}

#healthbar{
	width: 10vw;
	background-color: red;
}

#energybar{
	width: 10vw;
	background-color: lightblue;
}