*{
    overflow: hidden;
}
#clickonspawn{
    position: relative;
    top: 0;
    display: none;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

#clickonspawn > h2{
    color: white;
}